{% extends 'base.html' %}
{% load static %}
{% block page_title %}
{{title | title}} Month Challange
{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'challenges/challenge.css' %}"/>
{% endblock css_files %}

{% block content %}
    {% include "challenges/includes/header.html" %}

    <h1>{{title | title}}</h1>
    {% if text is not None %}
        <h1>{{text}}</h1>
    {% else %}
        <h2> There is no Challange for this month yet ! </h2>    
    {% endif %}
{% endblock  %}
